-
  title_project = 'Project-1'

-
  var headerItem = [
    {
      href: '#',
      title: 'Tài khoản của tôi'
    },
    {
      href: '#',
      title: 'Trạng thái đơn hàng'
    },
    {
      href: '#',
      title: 'Danh sách ưu thích'
    },
    {
      href: '#',
      title: 'Giỏ hàng'
    },
    {
      href: 'login.html',
      title: 'Đăng nhập' 
    },
    {
      href: 'register.html',
      title: 'Đăng ký'
    },
  ]

-
  var footerItem=  [
    {
      icon: 'bx bxl-twitter',
      href: '#'
    },
    {
      icon: 'bx bxl-google-plus',
      href: '#'
    },
    {
      icon: 'bx bxl-chrome',
      href: '#'
    },
    {
      icon: 'bx bxl-linkedin',
      href: '#'
    },
    {
      icon: 'bx bx-wifi-2',
      href: '#'
    }
  ]

-
  var navigation = [
    {
      title: 'Trang chủ',
      href: '#',
    },
     {
      title: 'Rượu vang đỏ',
      href: '#',
      class1: 'wine--red'
    },
     {
      title: 'Rượu trắng',
      href: '#',
      class1: 'wine--white'
    },
     {
      title: 'Champagne',
      href: '#',
      class1: 'champagne'
    },
     {
      title: 'Thông tin',
      href: '#',
    },
     {
      title: 'Blog',
      href: 'blog-page.html',
    },
     {
      title: 'Liên hệ',
      href: '#',
    }
  ]

-
  var dropDownList = [
    {
      wine1: [
        [
          {
            title: 'Rượu ngoại',
          },
          {
            title: 'Rượu Chivas',
            href: '#'
          },
          {
            title: 'Hàng độc - Rượu độc đáo',
            href: '#'
          },
          {
            title: 'Johney Walker',
            href: '#'
          },
          {
            title: 'Rượu Wisky',
            href: '#'
          },
          {
            title: 'Rượu Remy Martin',
            href: '#'
          },
          {
            title: 'Rượu Glenmorangie',
            href: '#'
          }
        ],
        [
          {
            title: 'Rượu vang',
          },
          {
            title: 'Rượu Chivas',
            href: '#'
          },
          {
            title: 'Hàng độc - Rượu độc đáo',
            href: '#'
          },
          {
            title: 'Johney Walker',
            href: '#'
          },
          {
            title: 'Rượu Wisky',
            href: '#'
          },
          {
            title: 'Rượu Remy Martin',
            href: '#'
          },
          {
            title: 'Rượu Glenmorangie',
            href: '#'
          }
        ],
        [
          {
            title: 'Rượu Ngoại',
          },
          {
            title: 'Rượu Chivas',
            href: '#'
          },
          {
            title: 'Hàng độc - Rượu độc đáo',
            href: '#'
          },
          {
            title: 'Johney Walker',
            href: '#'
          },
          {
            title: 'Rượu Wisky',
            href: '#'
          },
          {
            title: 'Rượu Remy Martin',
            href: '#'
          },
          {
            title: 'Rượu Glenmorangie',
            href: '#'
          }
        ],
        [
          {
            src: '../../images/dropdown.jpg'
          }
        ]
      ],
      wine2: [
        [
          {
            title: 'Rượu Ngoại',
          },
          {
            title: 'Rượu Chivas',
            href: '#'
          },
          {
            title: 'Hàng độc - Rượu độc đáo',
            href: '#'
          },
          {
            title: 'Johney Walker',
            href: '#'
          },
          {
            title: 'Rượu Wisky',
            href: '#'
          },
          {
            title: 'Rượu Remy Martin',
            href: '#'
          },
          {
            title: 'Rượu Glenmorangie',
            href: '#'
          }
        ],
        [
          {
            title: 'Rượu vang',
          },
          {
            title: 'Rượu Chivas',
            href: '#'
          },
          {
            title: 'Hàng độc - Rượu độc đáo',
            href: '#'
          },
          {
            title: 'Johney Walker',
            href: '#'
          },
          {
            title: 'Rượu Wisky',
            href: '#'
          },
          {
            title: 'Rượu Remy Martin',
            href: '#'
          },
          {
            title: 'Rượu Glenmorangie',
            href: '#'
          }
        ],
        [
          {
            title: 'Rượu Ngoại',
          },
          {
            title: 'Rượu Chivas',
            href: '#'
          },
          {
            title: 'Hàng độc - Rượu độc đáo',
            href: '#'
          },
          {
            title: 'Johney Walker',
            href: '#'
          },
          {
            title: 'Rượu Wisky',
            href: '#'
          },
          {
            title: 'Rượu Remy Martin',
            href: '#'
          },
          {
            title: 'Rượu Glenmorangie',
            href: '#'
          }
        ],
        [
          {
            src: '../../images/dropdown.jpg'
          }
        ]
      ]  
    }
  ]

-
  var socialItem= [
    {
      icon: 'bx bxl-mastercard',
      href:'#',
    },
    {
      icon: 'bx bxl-visa',
      href:'#',
    },
    {
      icon: 'bx bxl-paypal',
      href:'#',
    },
    {
      icon: 'bx bxl-mastercard',
      href:'#',
    }
  ]

-
  var listAlcohol1 = [
    {
      type: 'orange', 
      src: '../../images/12.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: 'green', 
      src: '../../images/12.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: 'red', 
      src: '../../images/12.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/12.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }
  ]

-
  var listAlcohol2 = [
    {
      type: '', 
      src: '../../images/12.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/13.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/14.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/4.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }
  ]

-
  var blogItems = [
    {
      href: 'blog-page.html',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: 'blog-page.html',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
      }
    ]

-
  var images = [
    {
      img: 'gallery-1.jpg'
    },
    {
      img: 'gallery-1.jpg'
    },
    {
      img: 'gallery-1.jpg'
    },
    {
      img: 'gallery-1.jpg'
    },
    {
      img: 'gallery-1.jpg'
    },
    {
      img: 'gallery-1.jpg'
    },
    {
      img: 'gallery-1.jpg'
    },
    {
      img: 'gallery-1.jpg'
    }
  ]

  var imgSrc = '../../images/'

-
  var blogCards = [
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }, 
    {
      href: '',
      src: '../../images/slide-3.jpg', 
      title: 'Vang thăng long classic', 
      author: 'đăng bởi Giangle | 30/6/2015 | 60 bình luận',
      desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml'
    }
  ]

-
  var tabList = [
    {
      src: '../../images/14.jpg',
      alt: 'Rượu nho xanh',
      href: '#',
      class1: 'tabs-link-1',
      active: ''
    },
    {
      src: '../../images/10.jpg',
      alt: 'Rượu nho đen',
      href: '#',
      class1: 'tabs-link-2',
      active: ''
    },
    {
      src: '../../images/1.jpg',
      alt: 'Rượu nho abc',
      href: '#',
      class1: 'tabs-link-3',
      active: 'true'
    },
    {
      src: '../../images/7.jpg',
      alt: 'Rượu nho đỏ',
      href: '#',
      class1: 'tabs-link-4',
      active: ''
    },
    {
      src: '../../images/3.jpg',
      alt: 'Rượu nho abz',
      href: '#',
      class1: 'tabs-link-5',
      active: ''
    }
  ]

-
  var optionColor = [
    {
      color: 'yellow',
      href: '#',
      active:''
    },
    {
      color: 'black',
      href: '#',
      active:'true'
    },
    {
      color: 'red',
      href: '#',
      active:''
    }
  ]

-
  var optionSize = [
    {
      value: 'large',
      name: 'Loại to'
    },
     {
      value: 'medium',
      name: 'Loại vừa'
    },
     {
      value: 'small',
      name: 'Loại nhỏ'
    }
  ]

-
  var socialList = [
    {
      name: "fb",
      icon: "bx bxl-facebook-square",
      label: "Like",
      popover: "0"
    },
    {
      name: "twitter",
      icon: "bx bxl-twitter",
      label: "Twitter",
      popover: "0"
    },
    {
      name: "google",
      icon: "bx bxl-google-plus",
      label: "1",
      popover: "0"
    },
    {
      name: "linkedin",
      icon: "bx bxl-linkedin",
      label: "Share",
      popover: ""
    },
    {
      name: "pinterest",
      icon: "bx bxl-pinterest-alt",
      label: "init",
      popover: ""
    }
  ]

-
  var carts =[
    {
      img:'../../images/14.jpg', 
      name: 'Rượu vang đỏ', 
      price: '350.000đ', 
      quantity: '1', 
      total: '350.000đ'
    }, 
    {
      img:'../../images/14.jpg', 
      name: 'Rượu vang đỏ', 
      price: '350.000đ', 
      quantity: '1', 
      total: '350.000đ'
    }, 
    {
      img:'../../images/14.jpg', 
      name: 'Rượu vang đỏ', 
      price: '350.000đ', 
      quantity: '1', 
      total: '350.000đ'
    }, 
    {
      img:'../../images/14.jpg', 
      name: 'Rượu vang đỏ', 
      price: '350.000đ', 
      quantity: '1', 
      total: '350.000đ'
    }
  ]

-
  var detailTabs = [
    {
      id: "detail-tab-1",
      content: "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.",
      active: true,
      name: "ĐẶC ĐIỂM NỔI BẬT"
    },
    {
      id: "detail-tab-2",
      content: "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.",
      active: "",
      name: "THÔNG TIN SẢN PHẨM"
    },
    {
      id: "detail-tab-3",
      content: "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.",
      active: "",
      name: "ĐÁNH GIÁ"
    }
  ]

-
  var ruouVang = [
    {
      name: 'Rượu Vang Pháp',
      quatity:'44'
    },
    {
      name: 'Rượu Vang Úc',
      quatity:'34'
    },
    {
      name: 'Rượu Vang Mỹ',
      quatity:'16'
    },
    {
      name: 'Rượu Vang ChiLe',
      quatity:'48'
    },
    {
      name: 'Rượu Vang PhiLip',
      quatity:'1'
    },
    {
      name: 'Rượu Vang Nam Phi',
      quatity:'20'
    },
    {
      name: 'Rượu Vang Ý',
      quatity:'2'
    }
  ]

-
  var ruouNgoai = [
    {
      name: 'Rượu Chivas',
      quatity:'26'
    },
    {
      name: 'Hàng độc - Rượu độc đáo',
      quatity:'36'
    },
    {
      name: 'Rượu Whisky',
      quatity:'24'
    },
    {
      name: 'Rượu Remy Martin',
      quatity:'16'
    },
    {
      name: 'Rượu Glenmorangie',
      quatity:'11'
    },
    {
      name: "Rượu Ballantine's",
      quatity:'7'
    },
    {
      name: 'Rượu Cognac',
      quatity:'40'
    },
    {
      name: 'Rượu Vodka',
      quatity:'93'
    },
    {
      name: 'Rượu Macallan',
      quatity:'19'
    },
    {
      name: 'Rượu Brandy',
      quatity:'62'
    },
    {
      name: 'Rượu Brandy',
      quatity:'62'
    },
    {
      name: 'Rượu Hennessy',
      quatity:'20'
    },
    {
      name: 'RượuGin - Tequila - Liqueur - Rượu mùi',
      quatity:'36'
    },
    {
      name: 'Rượu Champagne',
      quatity:'12'
    },
    {
      name: 'Rượu Single malt Scotch whisky',
      quatity:'47'
    },
    {
      name: 'Rượu Spirits',
      quatity:'4'
    }
  ]

-
  var tagsProduct =  ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"]

-
  var gridList = [
    {
      type: '', 
      src: '../../images/12.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/13.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/14.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/4.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    },
    {
      type: '', 
      src: '../../images/12.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/13.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/14.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }, 
    {
      type: '', 
      src: '../../images/4.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    },
    {
      type: '', 
      src: '../../images/4.jpg', 
      title: 'Rượu vang đà lạt', 
      sale: '370.000đ', 
      price: '450.000đ'
    }
  ]

-
  var colummList = [
    {
      src: '../../images/4.jpg', 
      title: 'Rượu nho năm 1987', 
      price: '330.000đ',
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.'
    },
    {
      src: '../../images/5.jpg', 
      title: 'Rượu nho năm 1987', 
      price: '330.000đ',
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.'
    },
    {
      src: '../../images/10.jpg', 
      title: 'Rượu nho năm 1987', 
      price: '330.000đ',
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.'
    },
    {
      src: '../../images/3.jpg', 
      title: 'Rượu nho năm 1987', 
      price: '330.000đ',
      desc: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.'
    }
  ]

-
  var infoList = [
    {
      href: '#', 
      state: 'Trạng thái tất cả', 
      quantity: '16'
    }, 
    {
      href: '#', 
      state: 'Đã huỷ', 
      quantity: '10'
    }, 
    {
      href: '#', 
      state: 'Chưa duyệt', 
      quantity: '6'
    }, 
    {
      href: '#', 
      state: 'Đã duyệt', 
      quantity: '0'
    }, 
    {
      href: '#', 
      state: 'Đã thanh toán - chờ mua hàng', 
      quantity: '0'
    }, 
    {
      href: '#', 
      state: 'Đã mua hàng', 
      quantity: '0'
    }, 
    {
      href: '#', 
      state: 'Hàng đã về - chờ giao hàng', 
      quantity: '0'
    }, 
    {
      href: '#', 
      state: 'Đã kết thúc', 
      quantity: '6'
    }
  ]

-
  var tableList =[
    {
      id: "01", 
      code: "LEANHGIANG89 - 17/06/2015", 
      date: "01:36 14/03/2015", 
      store: "HÀ ĐÔNG", 
      quantity: "7", total: "350.000đ", 
      state: "Đã thanh toán", 
      detail: 'Chi tiết'
    }, 
    {
      id: "02", 
      code: "LEANHGIANG89 - 17/06/2015", 
      date: "01:36 14/03/2015", 
      store: "HÀ ĐÔNG", 
      quantity: "7", total: "350.000đ", 
      state: "Đã thanh toán", 
      detail: 'Chi tiết'
    }, 
    {
      id: "03", 
      code: "LEANHGIANG89 - 17/06/2015", 
      date: "01:36 14/03/2015", 
      store: "HÀ ĐÔNG", 
      quantity: "7", total: "350.000đ", 
      state: "Đã thanh toán", 
      detail: 'Chi tiết'
    }, 
    {
      id: "04", 
      code: "LEANHGIANG89 - 17/06/2015", 
      date: "01:36 14/03/2015", 
      store: "HÀ ĐÔNG", 
      quantity: "7", total: "350.000đ", 
      state: "Đã thanh toán", 
      detail: 'Chi tiết'
    }, 
    {
      id: "05", 
      code: "LEANHGIANG89 - 17/06/2015", 
      date: "01:36 14/03/2015", 
      store: "HÀ ĐÔNG", 
      quantity: "7", total: "350.000đ", 
      state: "Đã thanh toán", 
      detail: 'Chi tiết'
    }, 
    {
      id: "06", 
      code: "LEANHGIANG89 - 17/06/2015", 
      date: "01:36 14/03/2015", 
      store: "HÀ ĐÔNG", 
      quantity: "7", total: "350.000đ", 
      state: "Đã thanh toán", 
      detail: 'Chi tiết'
    }
  ]

-
  var userItem =[
    {
      icon: 'bx bxs-user',
      title: 'Giangle', 
      desc:'Leanhgiang89@gmail.com'
    },
    {
      icon: 'bx bxs-location-plus',
      title: 'Toà nhà Hà Nội group', 
      desc:'442 Đội Cấn, Ba Đình Hà Nội'
    }, 
    {
      icon: 'bx bxs-phone',
      title: '(04) 37868904'
    }
  ]

//- 
-
  var contactItem=  [
    {
      icon: 'bx bxl-facebook',
      href: '#'
    },
    {
      icon: 'bx bxl-google-plus',
      href: '#'
    },
    {
      icon: 'bx bxl-twitter',
      href: '#'
    },
    {
      icon: 'bx bxl-youtube',
      href: '#'
    },
    {
      icon: 'bx bxl-pinterest',
      href: '#'
    },
    {
      icon: 'bx bxl-linkedin',
      href: '#'
    }
  ]

-
  var address = [
  {label: 'Tên', id: 'name', value: 'Giang'}, 
  {label: 'Họ và Tên đệm', id: 'surname', value: 'Lê Anh'}, 
  {label: 'Công ty', id: 'company', value: 'Cổ phần công nghệ DKT'}, 
  {label: 'Địa chỉ', id: 'address-myself', value: 'Toà nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội'}, 
  {label: 'Thành phố', id: 'city', value: 'Hà Nội'}, 
  {label: 'Quốc tịch', id: 'nationality', value: 'Việt Nam'}, 
  {label: 'Postal/Zip Code', id: 'zipcode', value: '2300089'}, 
  {label: 'Phone', id: 'phone', value: '0399873636'}
  ]

  var optionCity = [
     {
      value: 'HN',
      name: 'Hà Nội'
    },
    {
      value: 'DN',
      name: 'Đà nẵng'
    },
    {
      value: 'HCM',
      name: 'Hồ Chí Minh'
    }
  ]

  var optionNationality = [
    {
      value: 'VN',
      name: 'Việt Nam'
    },
    {
      value: 'USA',
      name: 'Mỹ'
    },
    {
      value: 'Korea',
      name: 'Hàn Quốc'
    }
  ]

- var newsList =[{img: "../../images/news-blog.jpg", title: "CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ", date: "12/06/2015"}, {img: "../../images/news-blog.jpg", title: "CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ", date: "12/06/2015"}, {img: "../../images/news-blog.jpg", title: "CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ", date: "12/06/2015"}]

- var tagsList = ['Đồng hồ', 'Túi', 'Sự kiện', 'Giày', 'Sandal', 'Áo sợ mi', 'Nước hoa', 'Trẻ em', 'Thời trang nữ']

- var commentsList = [{userName: "GiangLe", time: "4 giờ", content: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng."}, {userName: "GiangLe", time: "4 giờ", content: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng."}, {userName: "GiangLe", time: "4 giờ", content: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng."}]
