$font: "Times New Roman", sans-serif;

$primary-color: #818181;
$secondary-color: #ffffff;
$orange-color: #e6ae48;
$gray-color: #d6d6d6;
$title-color: #000000;
$third-color: #494949;
$bg-header: rgba(250, 250, 250, 0.1);
$bg-overplay: rgba(0, 0, 0, 0.2);

$breakpoints: (
  "mobile": 739px,
  "tablet": 1023px,
  "tablet-pro": 1365px,
) !default;

$z-negative: -1;
$z-elevate: 1;
$z-sticky: 100;
$z-drawer: 200;
$z-dropdown: 400;
$z-modal: 500;
$z-popover: 500;
