section.blog-posts
  .container.blog-posts-container
    .blog-posts__card
      +blogTitle({class1:'blog-posts__card-title', title: 'Tin tức & Blog', src: '../../images/title-dark.png'})
      ul.blog-posts__content
        each blog in blogItems
          +blogCard(blog)
    .blog-posts__customer
        +blogTitle({class1:'customer-title', title: 'Khách hàng', src: '../../images/title-dark.png'})
        p.customer-icon "
        p.customer-desc Vang nổ thăng long tạo cảm giác hương phấn. êm đềm, vui tươi, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml, sản phẩm được đóng chai dung tích 750ml
        .customer-profile
          img(src="../../images/avatar.jpg", alt="avatar")
          h2.customer-profile__author Giang LT 
          h2.customer-profile__desc Graphic design
