section.cart-page 
  .container
    +breadcrumb({title: 'Trang chủ', desc: ['Sản phẩm', 'Giỏ hàng']})
    .breadcrumb__heading
      +formHeading('Giỏ hàng')
    .cart__content
      .cart__table
        table
          thead
            tr
              th Ảnh
              th Tên sản phẩm
              th Giá
              th Số lượng
              th Tổng số
              th Xoá
          tbody
            +cartList(carts)
      .cart__btn
        a.btn.btn-active Tiếp tục mua hàng
        a.btn.btn-active Xoá
        a.btn.btn-active Cập nhập
