section.feature-product
  .container.feature-product-container
    .feature-product__image1
      img(src="../../images/feature-product.jpg", alt="Feature-product")
    .feature-product__inner
      .feature-product__image2
        img(src="../../images/7.jpg", alt="")
      .feature-product__content 
        h2.feature-product__title rượu nho năm 1987
        img.feature-product__icon(src="../../images/titleleft-dark.png", alt="#")
        p.feature-product__price 330.000đ
        a.btn.btn-active.feature-product__btn(href="#") ADD TO CART
        p.feature-product__desc Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hoá của protein béo.
        .feature-product__times
          .feature-product__lifespan 334 
            span ngày
          .feature-product__lifespan 26 
            span giờ
          .feature-product__lifespan 60 
            span phút
          .feature-product__lifespan 15 
            span giây
