block vars
    - var images = [{img: 'gallery-1.jpg'}, {img: 'gallery-1.jpg'}, {img: 'gallery-1.jpg'}, {img: 'gallery-1.jpg'}, {img: 'gallery-1.jpg'}, {img: 'gallery-1.jpg'}, {img: 'gallery-1.jpg'}, {img: 'gallery-1.jpg'}]
    - var imgSrc = '../../images/'
section.gallery 
  .gallery__images
      each src in images
          img.gallery__images-img(src=(imgSrc + src.img), alt="Gallery")
