section.introduction
  .container
    +formHeading({class1: 'breadcrumb', title: 'Trang chủ', desc: 'Giới thiệu'})
    .breadcrumb__heading
      +formHeading({class1: 'breadcrumb__heading-title', title: 'Giới thiệu', src: '../../images/titleleft-dark.png'})
    .introduction__content
      img.introduction__image(src="../../images/feature-products.jpg", alt="img")
      .introduction__inner
        h2.introduction__inner-title Chào mừng đến với wine hourse
        .introduction__inner-desc
          p.desc-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, enim, consectetur ducimus magnam officia ab facere, praesentium reprehenderit blanditiis aliquam voluptatibus. Numquam, dolorem! Debitis et, quod ex animi fugit dicta!Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, enim, consectetur ducimus magnam officia ab facere, praesentium.
          p.desc-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, magnam tenetur maiores quidem architecto non ratione numquam. Possimus, laudantium odit at aspernatur corrupti tempore.
          p.desc-3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero quia cumque necessitatibus cum obcaecati qui, autem modi repellat! Sequi, id exercitationem! Officiis reprehenderit excepturi earum facilis, consequuntur iusto illum ipsam?Vero quia cumque necessitatibus cum obcaecati qui, autem modi repellat! Sequi, id exercitationem! Officiis reprehenderit excepturi earum facilis, consequuntur iusto illum ipsam?Vero quia cumque necessitatibus cum obcaecati qui, autem modi repellat! Sequi, id exercitationem! Officiis reprehenderit excepturi earum facilis, consequuntur iusto illum ipsam?
