nav.nav 
  .container.nav-container
    .nav__image
      a(href="#" class="nav__image-link") 
        img(src="../../images/logo.png", alt="Sun Inc." class="nav-logo")
    ul.nav__list
      +listItem1({class1: 'nav__list-item', class2: 'nav__list-link', items: ['Trang chủ', 'Rượu vang đỏ', 'Rượu trắng', 'Champagne', 'Thông tin', 'Blog', 'Liên hệ']})
