section.register
  .container
    .register__breadcrumb 
      +formHeading({class1: 'register__breadcrumb-home', title: 'Trang chủ / ', desc: 'Giới thiệu'})
    .register__heading
      .register__heading__inner
        +formHeading({class1: 'register__heading-title', title: 'Đăng ký', src: '../../images/titleleft-dark.png'})
      a.btn.btn-active.register__heading-btn(href="#")  Đăng nhập
    form.form(action="#")
      h3.form-title Thông tin cá nhân
      +formGroup({label: 'Tên trước*', id: 'input1'})
      +formGroup({label: 'Tên sau*', id: 'input2'})
      +formGroup({label: 'Email*', id: 'email2'})
      +formGroup({type: 'password', label: 'Password2*', id: 'password'})
      h3.form-title.form-login Thông tin đăng nhập 
      +formGroup({type: 'password', label: 'Mật khẩu*', id:'password3'})
      +formGroup({type: 'password', label: 'Xác nhận lại mật khẩu*', id:'confirm-password3'})
      .register__form-btn
        a.btn.btn-active.btn-send(href="#")  Gửi 
        a.btn.btn-active.btn-back(href="#")  Quay lại
