section.sponsor-section 
  .container 
    .sponsor__img
      a(href="#")
        img(src="../../images/brand-1.png", alt="abc")
      a(href="#")
        img(src="../../images/brand-2.png", alt="abc")
      a(href="#")
        img(src="../../images/brand-3.png", alt="abc")
