.blog-page {
  margin-top: 4rem;

  &__heading {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  &__list {
    @include flex($wrap: wrap, $gap: 3rem);
  }

  &__item {
    width: calc(33.33333% - 2rem);

    &:hover {
      cursor: pointer;

      .blog-card__item-link {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          border-right: 359.99px solid $bg-header;
          border-top: 152px solid transparent;

          @include responsive("tablet-pro") {
            border-right: 311.33px solid $bg-header;
            border-top: 132px solid transparent;
          }

          @include responsive("tablet") {
            border-right: 345.6px solid $bg-header;
            border-top: 145px solid transparent;
          }

          @include responsive("mobile") {
            border-right: 553.2px solid $bg-header;
            border-top: 235px solid transparent;
          }

          @include responsive("small") {
            width: 100%;
            background: $bg-header;
            border: none;
          }
        }
      }

      .blog-card__item-title {
        color: $orange-color;
      }
    }

    @include responsive("tablet") {
      width: calc(50% - 1.5rem);
    }

    @include responsive("mobile") {
      width: 100%;
    }
  }
}
