.cart-page {
  margin-top: 5rem;

  .cart__table {
    text-align: center;
    color: $heading-color;

    @include responsive("mobile") {
      max-width: 100%;
      overflow-x: scroll;
    }

    table,
    th,
    td {
      border: 1px solid $gray-color;
      vertical-align: middle;
      white-space: nowrap;
      padding: 0 1rem;

      @include responsive("mobile") {
        padding: 2rem 1rem;
      }
    }

    th:not(:first-child),
    td:not(:first-child) {
      @include responsive("mobile") {
        width: 100%;
        min-width: 0;
      }
    }

    table {
      width: 100%;
      font-size: 1.4rem;

      @include responsive("mobile") {
        min-width: 100%;
      }

      thead {
        th {
          text-transform: uppercase;
          height: 50px;
        }
      }

      @include responsive("mobile") {
        font-size: 1.2rem;
      }
    }

    &-img {
      max-width: 150px;

      img {
        width: 40%;
        object-fit: cover;
      }

      @include responsive("mobile") {
        min-width: 120px;

        img {
          width: 60%;
        }
      }
    }

    &-name {
      text-transform: uppercase;
    }

    &-price,
    &-total {
      color: $orange-color;
    }

    &-delete {
      a {
        display: inline-block;
        color: $heading-color;
        font-size: 2rem;
        transition: opacity 0.25s linear;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .cart__btn {
    @include flex($justify: flex-end, $gap: 2rem);
    margin-top: 3rem;

    @include responsive("mobile") {
      a {
        padding: 1.4rem 1.5rem;
      }
    }

    @include responsive("small") {
      gap: 1.5rem;

      a {
        padding: 1.4rem 9px;
      }
    }
  }
}
