.nav {
  background: $title-color;

  @include responsive("small") {
    padding: 1.2rem 0 0;
  }

  &-container {
    @include flex($align: center, $gap: 10rem);
    height: 100%;

    @include responsive("tablet-pro") {
      gap: 5rem;
    }

    @include responsive("tablet") {
      gap: 2rem;
    }
    @include responsive("mobile") {
      flex-direction: column;
      gap: 0;
    }
  }

  &__image {
    position: relative;

    &-link {
      display: inline-block;
      color: $orange-color;
    }

    &-logo {
      width: 100px;

      @include responsive("mobile") {
        width: 80px;
      }
    }

    &-content {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      p {
        font-size: 2.9rem;
        font-family: $font-corinthia;
        font-weight: bold;

        @include responsive("mobile") {
          font-size: 2.3rem;
        }

        span {
          display: block;
          font-size: 1.6rem;
          font-family: $font-lobster;
          font-weight: normal;

          @include responsive("mobile") {
            font-size: 1rem;
          }
        }
      }

      img {
        width: 25px;

        @include responsive("mobile") {
          width: 20px;
        }
      }
    }
  }

  &__list {
    @include flex($align: end, $justify: space-between);
    position: relative;
    width: 100%;
    height: 13rem;

    @include responsive("mobile") {
      align-items: flex-start;
      height: 2.5rem;
    }

    @include responsive("small") {
      align-items: center;
      flex-wrap: wrap;
      height: 10rem;
    }

    &-item {
      text-transform: uppercase;
      font-size: 1.3rem;
      transition: all 0.25s linear;

      &:hover .nav__list-link {
        color: $orange-color;
      }

      @include responsive("mobile") {
        font-size: 1.2rem;
        height: 2.5rem;
      }

      @include responsive("small") {
        width: 33.33333%;
        font-size: 1rem;
        padding-left: 1.4rem;
      }
    }

    &-link {
      display: inline-block;
      height: 6.5rem;
      color: $secondary-color;

      .nav__image-logo {
        width: 50px;
        object-fit: cover;
      }

      @include responsive("mobile") {
        height: unset;
      }
    }
  }

  .wine {
    &:hover .nav__dropdown-wrap {
      visibility: visible;
      opacity: 1;
      top: 13rem;

      @include responsive("mobile") {
        top: 2.5rem;
      }
    }
  }

  &__dropdown {
    &-wrap {
      @include flex();
      width: 100%;
      visibility: hidden;
      position: absolute;
      left: 0;
      opacity: 0;
      top: 15rem;
      transition: all 0.2s linear;
      padding: 3rem;
      border: 1px solid $orange-color;
      background: $secondary-color;

      img {
        width: 100%;
        object-fit: cover;

        @include responsive("tablet") {
          display: none;
        }
      }

      @include responsive("tablet") {
        justify-content: space-between;
      }

      @include responsive("mobile") {
        top: 4.5rem;
        padding: 2rem;
      }

      @include responsive("small") {
        display: none;
      }
    }

    &-list {
      @include flex($dir: column, $gap: 1.2rem);
      width: 25%;
      text-transform: capitalize;
      font-size: 1.4rem;

      .nav__dropdown-title {
        text-transform: uppercase;
        color: $title-color;
        font-weight: bold;
      }

      a {
        color: $primary-color;
        transition: all 0.25s linear;

        &:hover {
          color: $orange-color;
        }
      }

      @include responsive("tablet") {
        justify-content: space-between;
        &:last-child {
          display: none;
        }
      }
    }
  }
}
