.nav {
  background: $title-color;
  padding: 1.2rem 0;

  @include responsive("small") {
    padding: 1.2rem 0 0;
  }

  &-container {
    @include flex(center, $gap: 10rem);

    @include responsive("tablet-pro") {
      @include flex(center, $gap: 5rem);
    }

    @include responsive("tablet") {
      @include flex(center, $gap: 2rem);
    }
    @include responsive("mobile") {
      @include flex($align: center, $dir: column, $gap: 3rem);
    }
  }

  &__image {
    position: relative;

    &-link {
      display: inline-block;
      color: $orange-color;
    }

    &-logo {
      width: 100px;

      @include responsive("mobile") {
        width: 80px;
      }
    }

    &-content {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      p {
        font-size: 2.9rem;
        font-family: $font-corinthia;
        font-weight: bold;

        @include responsive("mobile") {
          font-size: 2.3rem;
        }

        span {
          display: block;
          font-size: 1.6rem;
          font-family: $font-lobster;
          font-weight: normal;

          @include responsive("mobile") {
            font-size: 1rem;
          }
        }
      }

      img {
        width: 25px;

        @include responsive("mobile") {
          width: 20px;
        }
      }
    }
  }

  &__list {
    @include flex($align: center, $justify: space-between);
    width: 100%;

    @include responsive("small") {
      @include flex($align: center, $justify: space-between, $wrap: wrap);
    }

    &-item {
      text-transform: uppercase;
      font-size: 1.3rem;
      transition: all 0.25s linear;

      &:hover .nav__list-link {
        color: $orange-color;
      }

      @include responsive("mobile") {
        font-size: 1.2rem;
      }

      @include responsive("small") {
        width: 33.33333%;
        font-size: 1rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
      }
    }

    &-link {
      display: inline-block;
      color: $secondary-color;

      .nav__image-logo {
        width: 50px;
        object-fit: cover;
      }
    }
  }
}
