include ../blocks/variable
include ../blocks/mixins
include ../blocks/header
include ../blocks/footer

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=title_project
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Corinthia&family=Lobster&display=swap")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lobster&display=swap")
		link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css")
		link(rel="stylesheet", href="styles/styles.css")
	body
		.wrapper
			block header
				+header
			block container
			block footer
				+footer
