extends layout/layout

block container
  section.page404 
    .page404-image
      img(src="../../images/404.png", alt="404")
    .container.page404-container
      .page404-logo 
        img(src="../../images/logo4.png", alt="logo")
      ul.page404-list 
        +listItem1({class1: 'page404-item', class2: 'page404-link', items: ['Trang chủ', 'Liên hệ']})
          i.bx.bxs-right-arrow
      .page404-search
        i.bx.bx-search
        input(type="text")
