extends layout/layout

block container
	include ./blocks/banner
	include ./blocks/navigation
	include ./blocks/about-section
	include ./blocks/feature-product
	include ./blocks/list-products1
	include ./blocks/gallery-section
	include ./blocks/list-products2
	include ./blocks/blog-posts
	include ./blocks/sponsor-section
	include ./blocks/log-in
	include ./blocks/register
	include ./blocks/blog-page
	include ./blocks/introduction
